<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

    <body>
        <div class="cards-grid">
            <% postlar.forEach(post=> { %>
                <div class="flip-button">
                    <div class="flip-button-inner">
                        <div class="flip-button-front">
                            <div>
                                <%= post.ru %>
                            </div>
                        </div>
                        <div class="flip-button-back">
                            <div>
                                <%= post.uzb %>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <% }) %>
        </div>
          


        <!-- Sahifalash tugmalari -->
        <div class="pagination">
            <% if (joriySahifa> 1) { %>
                <a href="/?page=<%= joriySahifa - 1 %>">‹</a>
                <% } %>

                    <% for (let i=1; i <=jamiSahifa; i++) { %>
                        <% if (i===1 || i===jamiSahifa || (i>= joriySahifa - 1 && i <= joriySahifa + 1)) { %>
                                <a href="/?page=<%= i %>" class="<%= i === joriySahifa ? 'active' : '' %>">
                                    <%= i %>
                                </a>
                                <% } else if (i===joriySahifa - 2 || i===joriySahifa + 2) { %>
                                    <span>...</span>
                                    <% } %>
                                        <% } %>

                                            <% if (joriySahifa < jamiSahifa) { %>
                                                <a href="/?page=<%= joriySahifa + 1 %>">›</a>
                                                <% } %>
        </div>

        <!-- Bosilganda aylanish uchun JS -->
        <script>
            const cardlar = document.querySelectorAll('.flip-button');

            cardlar.forEach(card => {
                card.addEventListener('click', () => {
                    // kartani aylantirish
                    card.classList.toggle('aktiv');

                    // faqat old tarafdagi rus so‘zini o‘qib berish
                    const rusSoz = card.querySelector('.flip-button-front').textContent.trim();

                    const nutq = new SpeechSynthesisUtterance(rusSoz);
                    nutq.lang = 'ru-RU'; // Rus tili uchun
                    speechSynthesis.cancel(); // eski ovozni to‘xtatish
                    speechSynthesis.speak(nutq);
                });
            });
        </script>
          
    </body>

</html>